# Ignore Python cache files
__pycache__/
*.pyc

# Ignore logs
logs/
*.log

# Ignore virtual environments
venv/

# Ignore environment files
.env

# Ignore pyinstaller ressources
build/
dist/
AdobeRenewalTool.spec
version.txt

# Ignore mailinfo
suggested_mailtext.txt